@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@inject IHtmlLocalizer<ProductCatalogResource> ProductCatalogLocalizer

@section Styles{
    <link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/breadcrumb.css" asp-append-version="true" />
}

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></svg>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Example headline</h1>
                    <p class="opacity-75">Some representative placeholder content for the first slide of the carousel</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#">Sign up today</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" src="~/img/heidi-fin-2TLREZi7BUg-unsplash.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="text-bg-dark opacity-50">Another example headline</h1>
                    <p class="text-bg-light opacity-50">Some representative placeholder content for the second slide of the carousel</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#">Learn more</a>
                    </p>
                    <span class="fs-6 text-bg-light opacity-50 position-absolute bottom-0 end-0">
                        Foto de <a href="https://unsplash.com/pt-br/@@framesbyfin?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Heidi Fin</a> na <a href="https://unsplash.com/pt-br/fotografias/2TLREZi7BUg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" src="~/img/the-nix-company-4Hmj9gkyM6c-unsplash.jpg" />
            @* <img class="bd-placeholder-img" width="100%" src="~/img/parker-burchfield-tvg4wvjgsey-unsplash.jpg" /> *@
            <div class="container">
                <div class="carousel-caption text-end text-bg-light opacity-75 px-4">
                    <h1>One more for good measure</h1>
                    <p>Some representative placeholder content for the third slide of this carousel</p>
                    <p>
                        <a class="btn btn-lg btn-primary" asp-area="" asp-page="/ProductCatalog/Index">Browse gallery</a>
                    </p>
                    <span class="fs-6 opacity-50 position-absolute bottom-0 start-0 m-2">
                        Foto de <a href="https://unsplash.com/pt-br/@@thenixcompany?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">The Nix Company</a> na <a href="https://unsplash.com/pt-br/fotografias/4Hmj9gkyM6c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        @* Photo by <a href="https://unsplash.com/@@parkerburchfield?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Parker Burchfield</a> on <a href="https://unsplash.com/photos/tvG4WvjgsEY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> *@
                    </span>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <hr class="featurette-divider">

    @for (int i = 0; i < Model.Items.Count; i++)
    {
        var item = Model.Items[i];

        var isEven = (i % 2 == 0);

        var isOdd = !isEven;

        <div class="row featurette g-5">
            <div class="col-md-7 @(isOdd ? "order-md-2" : "")">
                <div class="d-flex mb-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
                            <li class="breadcrumb-item">
                                <a class="link-body-emphasis" href="#">
                                    <i class="bi bi-house"></i>
                                    <span class="visually-hidden">Home</span>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Roupas</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @item.CategoryName
                            </li>
                        </ol>
                    </nav>
                </div>
                <h2 class="featurette-heading fw-normal lh-1 mb-3">
                    @if (item.BrandName != null)
                    {
                        <span class="badge bg-secondary">
                            @item.BrandName
                        </span>
                    }
                    @(item.Name)
                </h2>
                @if (item.Description != null)
                {
                    <p class="lead">@item.Description</p>
                }
                <h6>@ProductCatalogLocalizer["Features"]</h6>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <ul>
                        @foreach (var feature in item.Features)
                        {
                            <li>
                                @feature
                            </li>
                        }
                    </ul>
                </div>
                <h6>@ProductCatalogLocalizer["Sizes"]</h6>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
                    <ul class="list-group list-group-horizontal">
                        @foreach (var size in item.Sizes)
                        {
                            <li class="list-group-item">
                                @size
                            </li>
                        }
                    </ul>
                </div>
                <h6>@ProductCatalogLocalizer["Colors"]</h6>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
                    <div class="d-flex flex-wrap">
                        @foreach (var color in item.Colors)
                        {
                            <label class="img-thumbnail rounded-circle d-flex me-1 mb-1" style="padding: 2px" title="@color.Name">
                                <span class="rounded-circle" style="background-color: #@(color.RBG); width: 30px; height: 30px"></span>
                            </label>
                        }
                    </div>
                </div>
                <h6>@ProductCatalogLocalizer["Price"]</h6>
                <p class="lead">
                    <small class="fs-6">@ProductCatalogLocalizer["From"]</small>
                    <small class="fs-4">R$</small>
                    <span class="fw-normal fs-1">@item.Price</span>
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">@SharedLocalizer["Buy"]</button>
                    <a class="btn btn-outline-secondary btn-lg px-4" asp-area="" asp-page="/ProductCatalog/Item" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a>
                </div>
            </div>
            <div class="col-md-5 text-center @(isOdd ? "order-md-1" : "")">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mb-3" src="@item.ImageUri" />
                <div class="d-grid gap-2 d-md-flex justify-content-md-start overflow-x-auto">
                    <div class="d-flex flex-wrap">
                        @foreach (var productImageUri in item.ProductsImageUri)
                        {
                            <img src="@productImageUri" class="img-thumbnail me-1 mb-1" width="64" />
                        }
                    </div>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">
    }

    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/img/logo_nike.svg" />
            @* <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></svg> *@
            <h2 class="fw-normal">Nike</h2>
            <p>A Melhor Marca de Roupa Esportiva e Descolada.</p>
            <p><a class="btn btn-secondary" href="#">@SharedLocalizer["View details"] &raquo;</a></p>
        </div>

        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" viewBox="0 0 400 53" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_30_2651)"><path d="M126.758 22.4891H101.949V5.70367H90.2307V48.3534H101.949V31.0402H126.758V48.3534H138.476V5.70367H126.758V22.4891Z" fill="black"></path><path d="M163.496 30.7235H192.421V22.8058H163.496V14.2548H193.477V5.70367H151.777V48.3534H193.794V39.8024H163.496V30.7235Z" fill="black"></path><path d="M251.012 19.2164C251.012 12.7768 247.212 5.70367 233.91 5.70367H205.828V48.3534H217.547V33.2571H229.476L239.294 48.3534H252.49L241.722 31.8847C248.689 29.5622 251.012 23.9671 251.012 19.2164ZM231.271 25.5506H217.547V13.8324H231.271C236.865 13.8324 238.555 16.6828 238.555 19.6388C238.555 22.5947 236.865 25.5506 231.271 25.5506Z" fill="black"></path><path d="M274.237 5.70367H262.519V48.3534H274.237V5.70367Z" fill="black"></path><path d="M324.698 33.8905L299.784 5.70367H287.222V48.3534H297.778V20.061L323.643 48.3534H335.256V5.70367H324.698V33.8905Z" fill="black"></path><path d="M370.516 24.3898V32.8353H384.556V38.9583C381.389 40.3306 377.272 41.0696 372.416 41.0696C367.137 41.0696 363.02 39.9084 360.381 37.4803C357.742 35.1578 356.37 31.5684 356.37 26.9234C356.37 22.384 357.636 19.1113 360.17 16.6833C362.704 14.2552 366.399 12.9884 371.149 12.9884C374.316 12.9884 376.955 13.5162 378.856 14.5719C382.128 16.261 383.184 19.6392 383.184 19.6392L394.374 18.3724C394.374 18.3724 393.002 11.7215 386.246 7.70988C382.34 5.38739 377.378 4.22614 371.466 4.22614C366.082 4.22614 361.332 5.17626 357.32 7.07649C353.308 8.97672 350.246 11.7215 348.135 15.2053C346.024 18.6891 344.968 22.4895 344.968 27.1346C344.968 34.3132 347.396 39.9084 352.358 44.0256C357.214 48.0372 364.076 50.043 372.627 50.043C376.85 50.043 380.861 49.5152 384.873 48.4594C391.313 46.7703 395.325 43.92 395.325 43.92V24.3898H370.516Z" fill="black"></path><path d="M66.0012 39.1699C55.761 36.3195 49.3213 31.7801 43.5151 26.5017C45.6264 25.2348 47.8434 23.8624 50.0603 22.1733C62.4116 13.2 68.1125 4.7545 65.7901 1.3763C63.3617 -2.00191 53.5441 0.848454 41.1926 9.8218C38.2366 12.0387 35.5974 14.2557 33.1693 16.4726C30.7413 14.2557 28.2076 12.0387 25.1461 9.8218C12.7946 0.848454 2.9767 -2.00191 0.548614 1.3763C-1.87947 4.7545 3.82124 13.2 16.2783 22.1733C18.4953 23.7569 20.7122 25.2348 22.8236 26.5017C17.1229 31.6746 10.6832 36.214 0.337476 39.1699C-0.0847993 39.2755 -0.0847993 39.9089 0.337476 40.0145L6.98829 42.2314C8.044 42.6537 8.78296 43.6038 8.78296 44.7651L8.88852 51.7326C8.88852 52.1549 9.52197 52.366 9.7331 51.9438C16.9118 41.1757 24.7238 36.5307 33.1693 32.0968C41.6148 36.5307 49.4269 41.0702 56.6056 51.9438C56.8168 52.366 57.4501 52.1549 57.4501 51.7326L57.5557 44.7651C57.5557 43.6038 58.2945 42.5481 59.3501 42.2314L66.0012 40.0145C66.4232 39.9089 66.4232 39.2755 66.0012 39.1699ZM56.1833 5.91577C57.0279 5.28234 58.2945 5.49347 59.0336 6.33803C59.6672 7.18255 59.4557 8.44939 58.6116 9.18841C57.7668 9.8218 56.5 9.61067 55.8666 8.76609C55.1277 7.816 55.3388 6.54916 56.1833 5.91577ZM10.4721 8.66052C9.83867 9.5051 8.57183 9.71624 7.62174 9.08284C6.77716 8.44939 6.56603 7.18255 7.19942 6.23247C7.83287 5.28234 9.09965 5.17677 10.0498 5.8102C10.9999 6.54916 11.2111 7.816 10.4721 8.66052Z" fill="black"></path></g><defs><clipPath id="clip0_30_2651"><rect width="400" height="52.1739" fill="black"></rect></clipPath></defs></svg>
            @* <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></svg> *@
            <h2 class="fw-normal">Hering</h2>
            <p>Roupas Básicas, Confortáveis e Estilosas.</p>
            <p><a class="btn btn-secondary" href="#">@SharedLocalizer["View details"] &raquo;</a></p>
        </div>

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/img/logo_colcci.svg" />
            @* <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)" /></svg> *@
            <h2 class="fw-normal">Colcci</h2>
            <p>Design Diferenciado, Jovial e Moderno.</p>
            <p><a class="btn btn-secondary" href="#">@SharedLocalizer["View details"] &raquo;</a></p>
        </div>
    </div>

    <hr class="featurette-divider">

    @* <div class="row featurette">
    <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
    <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
    <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
    <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
    <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
    </div>
    </div> *@
</div>
